.component {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1rem auto 1rem;
  grid-template-areas:
    "."
    "number"
    "distance";

  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;

  border: 1px solid rgb(216, 216, 216);
}

.component.overlapped {
  background-color: rgb(224, 224, 191);
}

.component.closest {
  background-color: rgb(214, 214, 117);
}

.number {
  grid-area: number;
  font-size: 40px;
  color: rgb(126, 126, 126);
}

.distance {
  grid-area: distance;
  font-size: 0.8rem;
  color: rgb(126, 126, 126);
}
