.component {
  position: absolute;

  width: 150px;
  height: 150px;

  display: grid;
  align-items: center;
  justify-items: center;

  /* border: solid 1px black; */
  background-color: rgb(82, 102, 211);

  font-size: 2rem;
  font-weight: 700;
  color: white;
}

.animate {
  transition-property: top, left;
  transition-timing-function: ease-in;
  transition-duration: 0.3s;
}

.dragged {
  opacity: 0.5;
}
